* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #d7d9db;
}

body {
  background-color: black;
  color: #d7d9db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.leftSidebarOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.leftSidebarOption .material-icons, .fa-twitter {
  padding: 20px;
  font-size: 30px;
}

.leftSidebarOption h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.leftSidebarOption:hover {
  background-color: #181818;
  border-radius: 30px;
  -webkit-transition: color 100ms ease-out;
  transition: color 100ms ease-out;
}

.leftSidebar {
  border-right: 1px solid rgba(215, 217, 219, 0.244);
  min-width: 250px;
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.leftSidebar .leftSidebarTweet {
  width: 100%;
  background-color: #1c9bf0;
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
}

.leftSidebar .leftSidebarTweet:hover {
  background: #188CD8;
}

/* FeedBox */
.feed {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  border-right: 1px solid rgba(215, 217, 219, 0.244);
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  overflow-y: scroll;
}

.feedHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.625);
  z-index: 100;
  padding: 15px;
}

.feedHeader h2 {
  font-size: 20px;
  font-weight: 800;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tweetBox_input img {
  border-radius: 50%;
  height: 50px;
}

.tweetBox {
  border-bottom: 1px solid rgba(215, 217, 219, 0.244);
}

.tweetBox form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.tweetBox_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tweetBox_input input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: black;
}

.tweetBox_tweetbutton {
  background-color: #1c9bf0;
  color: white;
  border: none;
  font-weight: 900;
  border-radius: 30px;
  width: 70px;
  height: 35px;
  margin-top: 20px;
  margin-left: auto;
}

.postAvatar img {
  border-radius: 50%;
  height: 40px;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid rgba(215, 217, 219, 0.244);
  padding-bottom: 10px;
  padding-right: 10px;
}

.postBody img {
  width: 450px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 20px;
}

.postFotter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.postBadge {
  font-size: 14px !important;
  color: #d6d9db;
  margin-right: 5px;
}

.postHeaderSpecial {
  font-weight: 600;
  font-size: 13px;
  color: #71767a;
}

.postHeaderText h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.postHeaderDescription {
  margin-bottom: 10px;
  font-size: 18px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.postBody {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  margin-top: 6px;
}

.postAvatar {
  padding: 20px;
}

.rightSideBar {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  overflow-y: scroll;
}

.rightSideBar_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #212327;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.rightSideBar_input input {
  border: none;
  background-color: #212327;
  outline: none;
}

.searchIcon {
  color: #71767a;
}

.widget {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #16181c;
  border-radius: 20px;
}

.widget h2 {
  padding-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */