* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(214, 217, 219);
}

body {
  background-color: black;
  --twitter-color: rgba(215,217,219,255);
  --background-color: rgba(24, 24, 24, 255);
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.leftSidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.leftSidebarOption .material-icons, .fa-twitter {
  padding: 20px;
  font-size: 30px;
}

.leftSidebarOption h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.leftSidebarOption:hover {
  background-color: var(--background-color);
  border-radius: 30px;
  transition: color 100ms ease-out;
}

.leftSidebarTweet {
  width: 100%;
  background-color: rgba(28,155,240,255);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
}

.leftSidebar {
  border-right: 1px solid rgba(215, 217, 219, 0.244);
  flex: 0.2;
  min-width: 250px;
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;  
}

/* FeedBox */

.feed {
  flex: 0.5;
  border-right: 1px solid rgba(215, 217, 219, 0.244);
  min-width: fit-content;
  overflow-y: scroll;
}

.feedHeader {
  position: sticky;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.118);
  z-index: 100;
  /* border-right: 1px solid rgba(215, 217, 219, 0.244); */
  padding: 15px;
}

.feedHeader h2 {
  font-size: 20px;
  font-weight: 800;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* tweet */
.tweetBox_input img {
  border-radius: 50%;
  height: 50px;
}

.tweetBox {
  /* padding-bottom: 10px; */
  border-bottom: 1px solid rgba(215, 217, 219, 0.244);
}

.tweetBox form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.tweetBox_input {
  display: flex;
  padding: 20px;
}

.tweetBox_input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: black;
}

.tweetBox_tweetbutton {
  background-color: rgba(28,155,240,255);
  color: white;
  border: none;
  font-weight: 900;
  border-radius: 30px;
  width: 70px;
  height: 35px;
  margin-top: 20px;
  margin-left: auto; 
  
  


}






  
